@tailwind base;
@tailwind components;
@tailwind utilities;


    
@font-face {
    font-family: "Prompt";
    src: url("../../public/fonts/Prompt-Regular.ttf");
    font-weight: normal;
  }
  @font-face {
    font-family: "Prompt";
    src: url("../../public/fonts/Prompt-Bold.ttf");
    font-weight: bold;
  }
  @font-face {
    font-family: "Prompt";
    src: url("../../public/fonts/Prompt-Light.ttf");
    font-weight: 300;
  }
  @font-face {
    font-family: "Prompt";
    src: url("../../public/fonts/Prompt-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "Prompt";
    src: url("../../public/fonts/Prompt-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "Prompt";
    src: url("../../public/fonts/Prompt-Italic.ttf");
    font-style: italic;
  }
  @font-face {
    font-family: "Prompt";
    src: url("../../public/fonts/Prompt-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
  }

  html {
    scroll-behavior: smooth;
  }

